
<h1 style="position:relative;">Our pies :</h1>
<table>
    <tr>
        <td><img src="../../assets/images/pies/pie_PNG27.png" width="100"></td>
        <td>pie</td>
        <td>Un pur plaisir.</td>
        <td>12Dt</td>
        <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/pies/pie_PNG29.png" width="100"></td>
        <td>Apple pie</td>
        <td>Notre tarte de pommes vedette</td>
        <td>14DT</td>
        <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/pies/pie_PNG43.png" width="100"></td>
        <td>Cherry pie</td>
        <td>La classique!</td>
        <td>18Dt</td>
        <td>Voir détails</td>
    </tr>
    <tr>
            <td><img src="../../assets/images/pies/pie_PNG52.png" width="100"></td>
            <td>Cranberry pie</td>
            <td>En un mot ... Onctueuse !</td>
            <td>16DT</td>
            <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/pies/pie_PNG54.png" width="100"></td>
        <td>Peach pie</td>
        <td>Un délice!</td>
        <td>18Dt</td>
        <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/pies/pie_PNG2.png" width="100"></td>
        <td>Pumpkin pie</td>
        <td>Le sommet du goût !</td>
        <td>17Dt</td>
        <td>Voir détails</td>
    </tr>
</table>
