<h1 style="position:relative;">Our Cheesecakes :</h1>
<table>
    <tr>
        <td><img src="../../assets/images/products/cheesecakesmall.jpg" width="100"></td>
        <td>Cheese cake</td>
        <td>Un pur plaisir.</td>
        <td>12Dt</td>
        <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/cheescake/Cheesecake-PNG-Free-Image.png" width="100"></td>
        <td>chocolat flavor</td>
        <td>Notre tarte de pommes vedette</td>
        <td>14DT</td>
        <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/cheescake/Cheesecake-PNG-Picture.png" width="100"></td>
        <td>strawberry </td>
        <td>La classique!</td>
        <td>18Dt</td>
        <td>Voir détails</td>
    </tr>
    <tr>
            <td><img src="../../assets/images/cheescake/Cheesecake-Slice-PNG-Photo.png" width="100"></td>
            <td>Cranberry </td>
            <td>En un mot ... Onctueuse !</td>
            <td>16DT</td>
            <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/cheescake/Cheesecake-Slice-PNG-Picture.png" width="100"></td>
        <td>red cheescake</td>
        <td>Un délice!</td>
        <td>18Dt</td>
        <td>Voir détails</td>
    </tr>
    <tr>
        <td><img src="../../assets/images/cheescake/Cheesecake-Slice-PNG.png" width="100"></td>
        <td>surface chocolat</td>
        <td>Le sommet du goût !</td>
        <td>17Dt</td>
        <td>Voir détails</td>
    </tr>
</table>