<main id="main"></main>
    <table>
        <tr>
            <td><img src="../../assets/images/products/cheesecakesmall.jpg" width="100"></td>
            <td>Cheese cake</td>
            <td>Un pur plaisir.</td>
            <td>12Dt</td>
            <td>Voir détails</td>
        </tr>
        <tr>
            <td><img src="../../assets/images/products/applepiesmall.jpg" width="100"></td>
            <td>Apple pie</td>
            <td>Notre tarte de pommes vedette</td>
            <td>14DT</td>
            <td>Voir détails</td>
        </tr>
        <tr>
            <td><img src="../../assets/images/products/cherrypiesmall.jpg" width="100"></td>
            <td>Cherry pie</td>
            <td>La classique!</td>
            <td>18Dt</td>
            <td>Voir détails</td>
        </tr>
        <tr>
                <td><img src="../../assets/images/products/cranberrypiessmall.jpg" width="100"></td>
                <td>Cranberry pie</td>
                <td>En un mot ... Onctueuse !</td>
                <td>16DT</td>
                <td>Voir détails</td>
        </tr>
        <tr>
            <td><img src="../../assets/images/products/peachpiesmall.jpg" width="100"></td>
            <td>Peach pie</td>
            <td>Un délice!</td>
            <td>18Dt</td>
            <td>Voir détails</td>
        </tr>
        <tr>
            <td><img src="../../assets/images/products/pumpkinpiesmall.jpg" width="100"></td>
            <td>Pumpkin pie</td>
            <td>Le sommet du goût !</td>
            <td>17Dt</td>
            <td>Voir détails</td>
        </tr>
        <tr>
            <td><img src="../../assets/images/products/strawberrycheesecakesmall.jpg" width="100"></td>
            <td>Strawberry Cheese Cake</td>
            <td>L'authentique</td>
            <td>13DT</td>
            <td>Voir détails</td>
        </tr>
</table>
